<nav class="top-bar" data-topbar data-options="sticky_on: large">
  <ul class="title-area">
    <li class="name"><a href="/"><img src="/img/logo.png" alt="The X-Lab Logo" title="The X-Lab"></a></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="first odd"><a href="/about">About</a></li>
      <li class="even"><a href="/projects">Projects</a></li>
      <li class="odd"><a href="/team">Team</a></li>
      <li class="even"><a href="/publications">Sascha's Tech Note</a></li>
      <!-- <li class="last odd"><a href="/forms/index.html">Contact</a></li> -->
    </ul>
  </section>
</nav>
