<aside class="columns large-4 small-12">
  <div class="block">
  
    <p><strong><i>X-Lab anticipates the disruptions and dystopian outcomes of different tech policy decisions and aims to help humanity change course –- through innovative policy interventions, privacy-conscious technology development, and novel business models.</i></strong></p>
    <h2>Contact X-Lab</h2>
    <div class="content">
         <p>Our email is: <a href="mailto:contact@thexlab.org">contact@thexlab.org</a></p>
      </p>
    </div>
  </div>
</aside>
