{% include header.html %}
<div class="page">
  <div class="splash-region">
    <div class="row">
      <div class="columns small-12 large-4">
        <img src='img/crowd_lrg.png' />  
      </div>
      <div class="columns small-12 large-8">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12">
        <ul class="flat-menu large-block-grid-3">
          <li><a href="/" class="button"></a></li>
          <li><a href="/" class="button"></a></li>
          <li><a href="/" class="button"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
